.box{
    background-color: black;
    color: whitesmoke;
    font-size: 3em;
}
.all{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "c c c"
    "1 1 1"
    "";

}