*{
    margin: 0px;
    padding:0px;
}.all{
    background-color:whitesmoke;
    width: 500px;
    min-height: 400px;
    margin: auto;
    
    
}
.heading{
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(51 51 51);
}
.email{
    color: rgb(17  17 17);
    
    padding: 3px;
}
.red{
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    padding: 5px 8px;
    border: 1px solid black;
    box-shadow: 5px;
    border-radius: 8px;
    
    color: black;
    
}
.head1{
    padding: 10px 40px;
}
a:hover{
    text-decoration: underline;
}
a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.blue{
    font-size: 19px;
}
.btn
{
    text-align: center;
    padding: 2px;
}
.log{
    text-decoration: none
}
.fb{
width: 100%;
box-sizing: border-box;
width: 100%;
background-color: rgba(0,0,255,.8);
padding: 5px;
border: 1px solid lightblue;
box-shadow: 5px;
border-radius: 18px;
text-shadow: 20px;
font-size: small;
}
.log{
    width: 100%;
box-sizing: border-box;
width: 100%;
background-color: rgba(255,0,0,.9);
padding: 5px;
border: 1px solid lightcoral;
box-shadow: 5px;
border-radius: 18px;
text-shadow: 20px;
font-size: medium ;
}
button:hover{
    cursor: pointer;
    color: whitesmoke;
}